{% extends "base.html" %}

{% block page-title %}
  <h2 class="title title-is-2">Register</h2>
{% endblock %}

{% block main %}
  <form method="post">
    {% csrf_token %}

    <div class="columns">
      <div class="column is-3">
	<div class="field">
	  <label class="label">Username</label>
	  <div class="control">
	    {{ form.username }}
	  </div>
	</div>
      </div>

      <div class="column">
	<div class="field is-3">
	  <label class="label">Email</label>
	  <div class="control">
	    {{ form.email }}
	  </div>
	</div>
      </div>
    </div>
    
    <div class="columns">
      <div class="column is-3">
	<div class="field">
	  <label class="label">First Name</label>
	  <div class="control">
	    {{ form.first_name }}
	  </div>
	</div>
      </div>

      <div class="column is-3">
	<div class="field">
	  <label class="label">Last Name</label>
	  <div class="control">
	    {{ form.last_name }}
	  </div>
	</div>
      </div>
    </div>

    <div class="columns">
      <div class="column is-3">
	<div class="field">
	  <label class="label">Password</label>
	  <div class="control">
	    {{ form.password1 }}
	  </div>
	</div>
      </div>

      <div class="column is-3">
	<div class="field">
	  <label class="label">Confirm Password</label>
	  <div class="control">
	    {{ form.password2 }}
	  </div>
	</div>
      </div>
    </div>

    <div class="field">
      <p class="control has-text-right">
	<input class="button is-success" type="submit" value="Register">
      </p>
    </div>
  </form>
{% endblock %}
