<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aluguntugui</title>
    <link rel="stylesheet" href="{% static 'core/bulma/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/ficons/font.css' %}">
    {% block css %}{% endblock %}
    {% block javascript-head %}{% endblock %}
  </head>

  <body class="has-navbar-fixed-top">
    <nav class="navbar has-shadow is-fixed-top">
      <div class="navbar-brand">
	<a class="navbar-item" href="#">
	  <img src="{% static 'core/aluguntugui-logo-small.png' %}">
	</a>
      </div>

      <div class="navbar-start">
	{% block navbar-start %}{% endblock %}
      </div>

      <div class="navbar-end">
	{% block navbar-end %}{% endblock %}

	{% if not user.is_authenticated %}
	  <div class="navbar-item">
	    <form method="post" action="{% url 'login' %}">
	      {% csrf_token %}
	      <div class="field is-horizontal">
		<div class="field-body">
		  <div class="field">
		    <p class="control has-icons-left">
		      <input class="input" type="text" name="username" placeholder="Username" size="8">
		      <span class="icon is-small is-left">
			<i class="fa fa-user"></i>
		      </span>
		    </p>
		  </div>

		  <div class="field">
		    <p class="control has-icons-left">
		      <input class="input" type="password" name="password" placeholder="Password" size="8">
		      <span class="icon is-small is-left">
			<i class="fa fa-lock"></i>
		      </span>
		    </p>
		  </div>

		  <div class="field">
		    <p class="control">
		      <input class="button is-success" type="submit" value="Login">
		    </p>
		  </div>
		</div>
	      </div>
	    </form>
	    
	    <a class="button" href="#">Register</a>
	  </div>
	{% else %}
	  <div class="navbar-item">
	    <a class="button is-danger" href="{% url 'logout' %}">Logout</a>
	  </div>
	{% endif %}
      </div>
    </nav>

    <main class="section">
      <div class="container">
	{% block page-title %}{% endblock %}

	{% if messages %}
	  {% for message in messages %}
	    <div class="notification{% if message.tags %} {{ message.tags }}{% endif  %}">
	      <p>{{ message }}</p>
	    </div>
	  {% endfor %}
	{% endif %}
	
	{% block main %}{% endblock %}
      </div>
    </main>
    
    <footer class="footer">
      <div class="content has-text-centered">
	Copyright &copy; 2020 Lorenzo Cabrini
      </div>
    </footer>
  </body>
</html>
